/*----- ROOT SETTINGS ------*/
:root {
  /*----- COLOR PALETTE ------*/
  --color-bg: #ffc7f1;
  --color-surface: #ebc7ff;
  --color-surface-alt: #eeddf8;
  --color-border: #ff7ade;
  --color-text: #a45eca;
  --color-text-accent: #d251b1;

  /*----- OTHER STUFF ------*/
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;

  --sidebar-width: 256px;
  --border-width: 4px;
  --radius-sm: 10px;
  --radius-md: 2px;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  color: var(--color-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: var(--radius-sm);
  color: var(--color-text);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
}


/*----- PRINCIPAL LAYOUT ------*/
.container {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  width: 100dvw;
  padding: var(--space-xs);
  overflow: hidden;
}

/*----- LEFT COLUMN ------*/
.main-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  min-height: 0;
  min-width: 0;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
}

.main-container-contents {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  gap: var(--space-sm);
  padding-right: var(--space-sm);
  min-height: 0;
  min-width: 0;
}

/*----- LEFT SIDEBAR -----*/
.main-container-left-content {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
}

.active-chats {
    flex: 1 1 auto;
  border: var(--border-width) solid var(--color-border);
  background-color: var(--color-surface);
}

.chat-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  padding: var(--space-sm);
}

.chat-buttons button {
  width: 80px;
  height: 80px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

/*----- CENTRAL PAGE -----*/
.central-info-page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  border: var(--border-width) solid var(--color-border);
  background-color: var(--color-surface);
}

.central-info-page h1 {
  text-align: center;
  min-width: 0;
  flex: 0 0 auto;
  margin: 0;
  padding: var(--space-sm);
}

.messages-container {
    flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  padding: var(--space-md);
  background-color: var(--color-surface-alt);
  border-top: var(--border-width) solid var(--color-border);
  border-bottom: var(--border-width) solid var(--color-border);

  text-align: justify;
  text-wrap: pretty;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  scrollbar-width: none;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.messages-container p {
  padding: 0;
  margin: 0;
  animation: spawn-item 200ms linear;
}

.msg-deco {
  color: var(--color-text-accent);
}

.input-form {
  flex: 0 0 auto;
  display: flex;
  gap: var(--space-sm);
  padding: var(--space-sm);
  min-width: 0;
}

.input {
  flex: 1 1 auto;
  min-width: 0;
}

/*----- RIGHT SIDEBAR -----*/
.contact-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  border: var(--border-width) solid var(--color-border);
  background-color: var(--color-surface);
}

/*----- BASE COMPONENTS -----*/
input,
button {
  border-radius: var(--radius-md);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  cursor: pointer;
}

/*----- ANIMATIONS -----*/
@keyframes spawn-item {
  0% {
    opacity: 0%;
    transform: translate(10px, 10px);
  }
  100% {
    opacity: 100%;
    transform: translate(0px, 0px);
  }
}
